<form action="/calculando" method="POST">
	<input type="number" name="id_paciente" placeholder="ID del paciente">
	<input type="number" name="embarazos" placeholder="Número de embarazos">
	<input type="number" name="glucosa" placeholder="Nivel de glucosa plasmática">
	<input type="number" name="diastole" placeholder="Presión arterial distólica">
	<input type="number" name="espesor" placeholder="Espesor del pliegue cutáneo">
	<input type="number" name="insulina" placeholder="Nivel de insulina sérica">
	<input type="float" name="imc" placeholder="IMC">
	<input type="number" name="edad" placeholder="EDAD">
	<button type="submit">
		Enviar
	</button>
</form>