<h1>
	RESULTADOS
</h1>
<h2>
<div class="content">
	ID del paciente: {{id_paciente}}
</div>
<div class="content">
	Número de embarazos: {{embarazos}}
</div>
<div class="content">
	Nivel de glucosa plasmática: {{glucosa}}
</div>
<div class="content">
	Presión arterial distólica: {{diastole}}
</div>
<div class="content">
	Espesor del pliegue cutáneo: {{espesor}}
</div>
<div class="content">
	Nivel de insulina sérica: {{insulina}}
</div>
<div class="content">
	IMC: {{imc}}
</div>
<div class="content">
	PROBABILIDAD_DE_DIABETES: {{prob}}
</div>
<div class="content">
	EDAD: {{edad}}
</div>
<div class="content">
	¿Diabético?: {{diab}}
</div>
</h2>

